@import '../_foundation/*';

body{
    line-height: 1.6;
    font-size: 14px;
    font-family: '游ゴシック体', 'Yu Gothic', YuGothic, sans-serif;
    margin: 60px 0 !important;
}
a{
    outline: none;
    text-decoration: none;
    color: #000;
    transition: all 0.2s ease-out 0s;
    &:hover{
        opacity: .6;
    }
}
.item{
    width: 600px;
    margin: auto;
    + .item{
        margin-top: 100px;
    }    
}
.text{
    p{
        + p{
            margin-top: 30px;
        }
    }
}
.btn{
    text-align: center;
}